.navbar-nav{
  flex-direction: row!important;
  margin: 0 auto;
}

.navbar-nav li{
  padding-right:40px;
  display: inline;
}

.navbar-text{
  padding-left: 50px;
}

#logo img{
  height: 150px;
  width: 250px;
  margin:0 auto 10px auto;
  display:block;
  padding-right: 50px;
}

#about-carousel{
  padding:20px 5px;
}

#about-carousel img, #about-carousel .card{
  height: 350px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    transition: none!important;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    #about-carousel .card{
      height: 450px;
    }
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}







.placeholder-short{
  display: block;
  width: 300px;
  height: 300px;
  background-color: blue;
}
.placeholder-tall{
  display: block;
  width: 300px;
  height: 600px;
  background-color: red;
}
